@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h1 {
	font-size: 30px;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: bold;
	color: #000;
	font-style: italic;
	text-align: center;
	margin-top: 10px;	
}

.mas {
	color: #fff;
	height: 70px;
	width: 70px;
	position: absolute;
	right: 100px;
	margin: 5px;
	top: 60px;
	font-size: 50px;
	background-color: green;
	border: 3px solid green;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
}

.menos {
	color: #fff;
	height: 70px;
	width: 70px;
	position: absolute;
	right: 20px;
	margin: 5px;
	top: 60px;
	font-size: 50px;
	background-color: red;
	border: 3px solid red;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
}

.mesa {
	width: 310px;
	height: 185px;
	margin: 5px;
}

.containerA {
	margin-top: 50px;
	display: flex;
	justify-content: center;

}

.containerB {
	display: flex;
	justify-content: center;
}

.containerC {
	display: flex;
	justify-content: center;
	transform: rotate(180deg);
}

.sillas {
	height: 75px;
	visibility: hidden;
}

.silla4 {
	transform: rotate(-90deg);
	margin-top: 50px;
}

.silla5 {
	transform: rotate(90deg);
	margin-top: 50px;
}

